 <li class="p-4 bg-white rounded-lg shadow-md">
    <div class="flex justify-between items-center mb-2">
        <%= link_to tweet.user.username, user_path(tweet.user), class: "font-bold text-lg" %>
        <small class="text-gray-500 text-sm">
            <%= tweet.created_at.strftime("%b %d, %Y") %>
        </small>
    </div>
    <p class="text-gray-800">
        <%= link_to tweet.body, tweet_path(tweet) %>
    </p>

    <div class="flex justify-end mt-2">
        <%= link_to [tweet], data: {
          turbo_method: :delete,
          turbo_confirm: "Are you sure?"
        } do %>
          <%= image_tag("trash-icon.svg", class: "h-6 w-6 mr-2")%>
        <% end %>
        <%= link_to edit_tweet_path(tweet) do %>
          <%= image_tag("edit-icon.svg", class: "h-6 w-6 mr-2")%>
        <% end %>
        <%= link_to tweet_path(tweet) do %>
          <%= image_tag("comments-icon.svg", class: "h-6 w-6") %>
        <% end %>
    </div>
</li>
