<div class="w-full flex flex-col items-center">
  <div class="flex flex-col w-full max-w-3xl justify-center items-center bg-gray-100 p-4 rounded-lg shadow-md">
    
    <div class="relative flex flex-col items-center w-full rounded-lg shadow-md p-6 mb-6 bg-white">
      <% if current_user == @user %>
      <div class="absolute top-4 right-4">
          <%= link_to edit_user_path(@user) do %>
            <%= image_tag("edit-icon.svg", class: "h-6 w-6") %>
          <% end %>
        </div>
      <% end %>
      <div class="flex flex-col items-center">
        <% if @user.profile_picture.attached? %>
          <%= image_tag @user.profile_picture, class: "w-24 h-24 rounded-full object-cover mb-4" %>
        <% else %>
          <%= image_tag("default-icon.svg", class: "w-24 h-24 rounded-full object-cover mb-4") %>
        <% end %>
        <h1 class="text-xl font-bold text-gray-800"><%= "#{@user.first_name} #{@user.last_name}"%></h1>
        <h1 class="text-sm text-gray-400"><%= @user.username %></h1>
      </div>
    </div>

    <% if current_user == @user %>
      <div class="w-full bg-white rounded-lg shadow-md p-4">
        <h2 class="text-lg font-semibold text-gray-800 mb-2">Create a new tweet!</h2>
        <%= render "tweet_form", tweet: @tweet %>
      </div>
    <% end %>

    <div class="w-full bg-white rounded-lg shadow-md p-4">
      <h2 class="text-lg font-semibold text-gray-800 mb-4 mt-4">Tweets by <%= @user.username %></h2>
      <ul class="space-y-4">
        <% @tweets.each do |tweet| %>
          <%= render "tweet", tweet: tweet %>
        <% end %>
      </ul>
      <% if @tweets.empty? %>
        <p class="text-gray-500 text-center mt-4">This user hasn't posted any tweets yet.</p>
      <% end %>
    </div>
  </div>
</div>